<div class="row justify-content-center mt-1">
  <div class="col-11 col-md-8 col-xl-6">
    <form class="mb-1" id="signUpForm">
      <h3>Sign Up</h3>
      <div class="form-group">
        <label for="sign-up-user">Username</label>
        <input type="text" class="form-control" id="sign-up-user" name="credentials[email]" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="sign-up-password">Password</label>
        <input type="password" class="form-control" id="sign-up-password" name="credentials[password]" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="sign-up-password-conf">Password confirmation</label>
        <input type="password" class="form-control" id="sign-up-password-conf" name="credentials[password_confirmation]" placeholder="Re-enter password">
      </div>
      <a routerLink="/" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary" name="submit">Sign up</button>
    </form>
  </div>
</div>
